body {
    margin: 0;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(#24bf3d, #83bf24, #a0cd5a);
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.btn {
    display: block;
    width: 200px;
    padding: 15px;
    color: #0a7cff;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #e0e0e0;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .btn-row {
        flex-direction: column;
    }
}

h1 {
    margin-bottom: 30px;
}

img {
    align-items: center;
    justify-content: center;
    width: 500px;
    border: 5px solid white;
    border-radius: 10px;
}
